<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <application
        android:name=".GrowSmartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GrowSmart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowSmart">


        <activity
            android:name="com.growsmart.mobile.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GrowSmart" />



        <activity android:name="com.growsmart.mobile.RegisterActivity" />

        <activity
            android:name=".SuhuActivity"
            android:exported="true"/>

        <activity
            android:name=".NutrisiActivity"
            android:exported="true"/>

        <activity
            android:name=".PhActivity"
            android:exported="true"/>

    </application>

</manifest>
